<ng-template #loading>
    <div class="spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>

<div class='main-container' *ngIf="consulta != null; else loading">

    <button mat-mini-fab color="primary" matTooltip="Voltar para listagem" (click)="navigate_back()">
        <mat-icon>
            keyboard_arrow_left
        </mat-icon>
    </button>

    <br><br>

    <h2>
        Detalhes da consulta
    </h2>

    <mat-expansion-panel expanded *ngIf="consulta.realizacao != null" >
        <h2 style ="color:green; margin-bottom: 1.5%;">
            Esta consulta já foi realizada!! Detalhes:
        </h2>
        <p><b>Horário início: </b></p>{{ consulta.realizacao.horarioInicio | date: "dd/MM/yyyy hh:mm:ss" }} <br>
        <p><b>Horário fim: </b></p>{{ consulta.realizacao.horarioFinalizacao | date: "dd/MM/yyyy hh:mm:ss" }} <br>
        <p><b>Descrição do diagnóstico: </b></p> <code style="white-space: pre-line;">{{ consulta.realizacao.diagnostico.descricao  }}</code>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>
                    Horário
                </h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="expansion-panel-body">
            <h3>
                Consulta agendada para dia <b>{{ consulta.dataAgendada | appDate : 'lean-view' }}</b> às <b>{{ consulta.dataAgendada | date : 'HH:mm'}}</b> horas.
            </h3>
            <div class="body-gap"></div>
            <div class="action-buttons">
                <button mat-icon-button aria-label="Editar" matTooltip="Editar" (click)="editarHorario()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <h2>
                Médico e clínica
            </h2>
        </mat-expansion-panel-header>
        <div class="expansion-panel-body">
            <h3>
                Médico: <b>{{ ( medico != null ) ? ( medico.nome )  : '' }}</b> na clínica <b>{{ ( clinica != null ) ? ( clinica.nome ) : '' }}</b>.
            </h3>
            <div class="body-gap"></div>
            <div class="action-buttons">
                <button mat-icon-button aria-label="Editar" matTooltip="Editar" (click)="editarClinicaMedico()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <h2>
                Motivação
            </h2>
        </mat-expansion-panel-header>
        <div class="expansion-panel-body">
            <div>
                <h3>
                    Tipo de consulta: <b>{{ ( consulta.tipo != null ) ? consulta.tipo.nome : '' }}</b>.
                </h3>
                <h3 *ngIf="sintomasObservados != undefined && sintomasObservados.length > 0">
                    Sintomas observados:
                    <ul *ngFor="let sintoma of sintomasObservados">
                        <li>{{ sintoma.nome }}</li>
                    </ul>
                </h3>
            </div>
            <div class="body-gap"></div>
            <div class="action-buttons">
                <button mat-icon-button aria-label="Editar" matTooltip="Editar" (click)="editarMotivacao()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel expanded >
        <mat-expansion-panel-header>
            <h2>
                Anamnese
            </h2>
        </mat-expansion-panel-header>
        <div class="expansion-panel-body">
            <h3 *ngIf="medicamentosQueToma.length > 0">
                Medicamentos que toma: 
                <ul *ngFor="let medicamento of medicamentosQueToma">
                    <li>{{ medicamento.name }}</li>
                </ul>
            </h3>
            <h3 *ngIf="doencasRecentes.length > 0">
                Doenças recentes:
                <ul *ngFor="let doenca of doencasRecentes">
                    <li>{{ doenca.name }}</li>
                </ul>
            </h3>
            <h3 *ngIf="consulta.informacoesAdicionais.length > 0">
                Informações adicionais: 
                <ul *ngFor="let informacao of consulta.informacoesAdicionais">
                    <li>{{ informacao }}</li>
                </ul>
            </h3>
            <div class="body-gap"></div>
            <div class="action-buttons">
                <button mat-icon-button aria-label="Editar" matTooltip="Editar" (click)="editarAnamnese()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>
    </mat-expansion-panel>

    

    <button mat-raised-button class='ok-button' color="primary" (click)="navigate_back()">Voltar</button>
</div>