<header class="docs-header-background"
        [class.is-next-version]="isNextVersion">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Pedilândia</h1>
      <h2>A saúde do seu filho nas palmas das suas mãos</h2>
    </div>
    <div class="docs-header-start">
     <a mat-raised-button class="docs-button" routerLink="/pedilandia">Acessar sistema</a>
    </div>
  </div>
</header>

<div class="docs-homepage-promo">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
            <img src="assets/landpage-img2.jpeg" alt="">
      <!-- <docs-svg-viewer src="../assets/img/homepage/sprintzerotoapp.svg"
                       [scaleToContainer]="true"></docs-svg-viewer> -->
    </div>
    <div class="docs-homepage-promo-space"></div>
    <div class="docs-homepage-promo-desc">
      <h2>Essa é Mariana, filha de Beatriz</h2>
      <ul>
          <li>Nascida em Belo Horizonte</li>
          <li>Desde dois anos de idade enfrenta problemas com bronquite</li>
      </ul>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
            <img src="assets/landpage-img1.jpeg" alt="">
      <!-- <docs-svg-viewer src="../assets/img/homepage/fastandconsistent.svg"
                       [scaleToContainer]="true"></docs-svg-viewer> -->
    </div>
    <div class="docs-homepage-promo-space"></div>
    <div class="docs-homepage-promo-desc">
      <h2>Aos 4 anos, Beatriz e sua família se mudaram para Ipatinga</h2>
      <p>A partir desse momento, os médicos tiveram dificuldades nas consultas, 
            pois todo o histórico médico de Mariana permaneceu no hospital da sua antiga cidade.</p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
        <img src="assets/landpage-img3.jpeg" alt="">
      <!-- <docs-svg-viewer src="../assets/img/homepage/versatile.svg"
                       [scaleToContainer]="true"></docs-svg-viewer> -->
    </div>
    <div class="docs-homepage-promo-space"></div>
    <div class="docs-homepage-promo-desc">
      <h2>Solução: Pedilândia</h2>
      <p>Software que tem o objetivo de centralizar as informações médicas que são importantes para a 
          vida da criança, e permitir um diagnóstico compartilhado entre os diversos setores de saúde
      </p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
        <img src="assets/landpage-img1.jpeg" alt="">
      <!-- <docs-svg-viewer src="../assets/img/homepage/optimized.svg"
                       [scaleToContainer]="true"></docs-svg-viewer> -->
    </div>
    <div class="docs-homepage-promo-space"></div>
    <div class="docs-homepage-promo-desc">
      <h2>Optimized for Angular</h2>
      <p>Built by the Angular team to integrate seamlessly with Angular.</p>
    </div>
  </div>
  <div class="docs-homepage-bottom-start">
    <a mat-raised-button class="docs-button" routerLink="/pedilandia" color="accent">
      Acessar sistema
    </a>
  </div>
</div>
