<div class="container">
    <div class="title">Alteração de senha</div>

    <mat-form-field appearance="fill">
        <mat-label>Digite a senha antiga</mat-label>
        <input matInput>
        <mat-hint>Mínimo 6 caracteres</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Digite a nova senha</mat-label>
        <input matInput>
        <mat-hint>Mínimo 6 caracteres</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Confirme a nova senha</mat-label>
        <input matInput>
    </mat-form-field>

    <button mat-raised-button color="primary">ALTERAR</button>
</div>