<div class="container">
    <div class="title">Alteração de senha</div>
    <form [formGroup]="form">

        <mat-form-field appearance="fill">
            <mat-label>Digite a senha antiga</mat-label>
            <input matInput formControlName="senhaAntiga" type="password" autofocus>
            <mat-hint>Mínimo 6 caracteres</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Digite a nova senha</mat-label>
            <input matInput formControlName="novaSenha"  type="password" >
            <mat-hint>Mínimo 6 caracteres</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Confirme a nova senha</mat-label>
            <input matInput formControlName="confirmacaoNovaSenha" type="password" >
            <mat-hint>Mínimo 6 caracteres</mat-hint>
        </mat-form-field>

        <button [disabled]="form.invalid" (click)="click()" mat-raised-button color="primary">ALTERAR</button>

    </form>
</div>