form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.in-field {
    width: 100%; 
}

.main-container {
    padding: 5%;
}

.main-container h1{
    font-weight: lighter;
}

.left-button {
    float:left;
}

.right-button{
    float:right;
}