<ng-template #loading>
    <div class="spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>

<div class='content-div' *ngIf="clinica != null; else loading">

    <button mat-mini-fab color="primary" (click)="navigate_back()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button> <br /> <br />

    <mat-card class="content-card">

        <mat-card-title>Detalhes da clínica {{ clinica.nome }}</mat-card-title> <br>

        <mat-card-content>

            <h3><i>Nome: </i></h3> {{ clinica.nome }} <br><br>

            <h3><i>Endereço: </i></h3> {{ clinica.endereco }} <br><br>

        </mat-card-content>

    </mat-card>

</div>

<div class="mat-elevation-z10" style="height: 100%" *ngIf="authService.usuarioLogado | async as usuario">
    
    <mat-tab-group class="detail">

        <mat-tab label="Médicos">
            <ng-template matTabContent >
                <app-listagem-usuario *ngIf="clinica != null; else loading"
                    [group]="{tipo: 'medicos'}" 
                    [dataDefault]="clinica.medicos"
                    [parentData]="clinica"
                    (updated)="update($event)"
                ></app-listagem-usuario>
                
            </ng-template>
        </mat-tab>
        
    </mat-tab-group>
</div>
