<div class="wrap">
    <div class="container">
                
        <form [formGroup]="form" class="grid-wrap"> 

            <div class="title">
                Login
            </div>
        
            <mat-form-field>
                <input matInput formControlName="email" autofocus placeholder="E-mail">
                <mat-error *ngIf="form.get('email').invalid">Digite um email válido</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="senha" type="password" placeholder="Senha de acesso">
                <mat-error *ngIf="form.get('senha').invalid">Digite sua senha (min. 6 caracteres).</mat-error>
            </mat-form-field>
        
            <div class="submit-button-area">
                <button 
                    *ngIf="!loading" 
                    [disabled]="this.form.invalid"
                    mat-raised-button 
                    color="primary"
                    (click)="login()"
                >
                    LOGIN
                </button>

                <mat-spinner *ngIf="loading"></mat-spinner>
            </div>
        
            <app-google-login-button *ngIf="!loading" (click)="googleLogin()"></app-google-login-button>

        </form>

    </div>
</div>
