<mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
        #drawer 
        class="sidenav" 
        fixedInViewport    
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" 
        [opened]="(isHandset$ | async) === false"

        [style.margin-top]="(isHandset$ | async)? 'initial' : '64px'"
    >

        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click) = "click(node)" style="cursor: pointer">
                <button mat-icon-button ></button>
                {{node.name}}
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle style="cursor: pointer">
                <button mat-icon-button 
                        [attr.aria-label]="'toggle ' + node.name" (click) = "click(node)">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
                </button>
                {{node.name}}
            </mat-tree-node>
            </mat-tree>
            
            <!-- <a mat-list-item href="#">Home</a>
            <a mat-list-item href="#">Feast</a>
            <a mat-list-item href="#">Supper</a>
            <a mat-list-item href="#">Pedilândia</a> -->
        </mat-nav-list>
    </mat-sidenav>
    

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>DALPHAM</span>
        </mat-toolbar>
        
        <div [style.margin-left]="(isHandset$ | async)? 'initial' : '200px'">
            <router-outlet></router-outlet>
        </div>
            
    </mat-sidenav-content>
</mat-sidenav-container>