<mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
        #drawer 
        class="sidenav" 
        fixedInViewport    
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" 
        [opened]="(isHandset$ | async) === false"

        [style.margin-top]="(isHandset$ | async)? 'initial' : '64px'"
    >

        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="#">Home</a>
            <a mat-list-item href="#">Feast</a>
            <a mat-list-item href="#">Supper</a>
            <a mat-list-item href="#">Pedilândia</a>
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>DALPHAM</span>
        </mat-toolbar>
        
        <div
            [style.margin-left]="(isHandset$ | async)? 'initial' : '200px'"
        >
            <router-outlet></router-outlet>
        </div>
            
    </mat-sidenav-content>
</mat-sidenav-container>