<div class="main-container">

    <table mat-table [dataSource]="medicamentos" class="mat-elevation-z8" >

        <ng-container matColumnDef="nome">

            <th mat-header-cell *matHeaderCellDef>Nome</th>

            <td mat-cell *matCellDef="let medicamento"> {{ medicamento.nome }} </td>

        </ng-container>

        <ng-container matColumnDef="descricao">

            <th mat-header-cell *matHeaderCellDef>Descrição</th>

            <td mat-cell *matCellDef="let medicamento"> {{ medicamento.descricao | slice:0:30 }}... </td>

        </ng-container>
        
        <ng-container matColumnDef="options">

            <th mat-header-cell *matHeaderCellDef>
            
                Opções
                
                <button mat-button color="primary" (click)="get_data()">
                    
                    <mat-icon>
                        
                        update
                    
                    </mat-icon>
                
                </button>
            
            </th>

            <td mat-cell *matCellDef="let medicamento">

                <button mat-icon-button matTooltip="Visualizar medicamento" (click)="visualizar(medicamento._id)" color="primary" aria-label="Example icon-button with a heart icon">

                    <mat-icon>
                        
                        visibility
                    
                    </mat-icon>

                </button>

                <button mat-icon-button matTooltip="Editar medicamento" (click)="editar(medicamento._id)" color="primary" aria-label="Example icon-button with a heart icon">

                    <mat-icon>
                            
                        edit
                        
                    </mat-icon>
    
                </button>

                <button mat-icon-button matTooltip="Excluir medicamento" (click)="excluir(medicamento)" color="primary" aria-label="Example icon-button with a heart icon">

                    <mat-icon>
                                
                        delete
                            
                    </mat-icon>
        
                </button>

            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunas_mostradas"></tr>
    
        <tr mat-row *matRowDef="let row; columns: colunas_mostradas"></tr>

    </table>

</div>