<!-- <mat-tab-group>
  <mat-tab label="Agendamento de consultas">
    <div class="consulta-cadastro-container">
      <form class="consulta-form">
        <mat-form-field class="dataConsulta-full-width">
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Escolha uma data para a consulta"
            [(ngModel)]="consulta.dataConsulta"
            [ngModelOptions]="{ standalone: true }"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br />
        <mat-form-field class="horaConsulta-full-width">
          <mat-label>Escolha um horário para a consulta</mat-label>
          <mat-select
            [(ngModel)]="horaConsulta"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-option *ngFor="let option of options" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field class="tipoConsulta-full-width">
          <mat-label>Tipo de consulta</mat-label>
          <mat-select
            [(ngModel)]="consulta.tipoConsulta"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-option
              *ngFor="let tipoConsulta of tipoConsultaOptions"
              [value]="tipoConsulta.value"
            >
              {{ tipoConsulta.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="sintomas-full-width">
          <textarea
            matInput
            placeholder="Descreva os sintomas observados"
            [(ngModel)]="consulta.sintomasObservados"
            [ngModelOptions]="{ standalone: true }"
          ></textarea>
        </mat-form-field>

        <mat-form-field class="medicamentos-full-width">
          <textarea
            matInput
            placeholder="Medicamentos que utiliza"
            [(ngModel)]="consulta.medicamentosQueToma"
            [ngModelOptions]="{ standalone: true }"
          ></textarea>
        </mat-form-field>

        <mat-form-field class="doencas-full-width">
          <textarea
            matInput
            placeholder="Doenças ou enfermidades recentes"
            [(ngModel)]="consulta.doencasRecentes"
            [ngModelOptions]="{ standalone: true }"
          ></textarea>
        </mat-form-field>

        <mat-form-field class="info-full-width">
          <textarea
            matInput
            placeholder="Informações adicionais que julgar importantes"
            [(ngModel)]="consulta.informacoesAdicionais"
            [ngModelOptions]="{ standalone: true }"
          ></textarea>
        </mat-form-field>

        <button
          mat-raised-button
          isRoundButton
          color="warn"
          (click)="limpar()"
          class="left-button"
        >
          Limpar
        </button>

        <button
          mat-raised-button
          isRoundButton
          color="primary"
          (click)="cadastrar()"
          class="right-button"
        >
          Cadastrar
        </button>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Listagem">
    <app-listagem-consulta></app-listagem-consulta>
  </mat-tab>
</mat-tab-group> -->
<mat-horizontal-stepper linear #stepper>

  <mat-step [stepControl]="primeiro_form_group" [editable]="true">
    <ng-template matStepLabel>Clínica e Médico</ng-template>
    <div class="stepper-div">
      <h2>
        Escolha uma clínica e um médico para agendar um horário
      </h2>
      <form class="" [formGroup]="primeiro_form_group">
        <mat-form-field class="input-class">
            <mat-label>Escolha uma clínica para a consulta</mat-label>
            <mat-select formControlName="clinica" (change)='check_medico_clinica()' required>
              <mat-option *ngFor="let clinica of clinicas" [value]="clinica"> {{ clinica.nome }} </mat-option>
            </mat-select>
        </mat-form-field><br>
        <mat-form-field class="input-class">
            <mat-label>Escolha um(a) médico(a) para a consulta</mat-label>
            <mat-select formControlName="medico">
              <mat-option *ngFor="let medico of medicos" [value]="medico"> {{ medico.nome }} </mat-option>
            </mat-select>
        </mat-form-field>
      </form>
      <button mat-raised-button isRoundButton color="primary" class="right-button" matStepperNext>Próximo</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="segundo_form_group" [editable]="true">
      <ng-template matStepLabel>Data e horário</ng-template>
      <div class="stepper-div">
        <h2>
          Escolha data e horário da consulta
        </h2>
        <form class="" [formGroup]="segundo_form_group">
          <mat-form-field class="input-class">
            <input matInput [matDatepicker]="picker" placeholder="Escolha uma data para a consulta" formControlName="data" (dateChange)="date_change()"/>
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker (click)="date_change()"></mat-datepicker>
            <mat-hint align="end">
              Este campo é necessário
            </mat-hint>
          </mat-form-field> <br>
          <mat-form-field class="input-class">
            <mat-label>Escolha um horário para a consulta</mat-label>
            <mat-select  matTooltip="Caso o horário desejado não esteja aqui listado, talvez seja porque o mesmo já esteja ocupado." formControlName="horario">
              <mat-option *ngFor="let option of options" [value]="option"> {{ option }} </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <button mat-raised-button isRoundButton color="accent"  class="left-button" matStepperPrevious>Voltar</button>
        <button mat-raised-button isRoundButton color="primary" class="right-button" matStepperNext>Próximo</button>
      </div>
    </mat-step>

  <mat-step [stepControl]="terceiro_form_group" [editable]="true">
    <ng-template matStepLabel>Motivação</ng-template>
    <div class="stepper-div">
      <h2>
        Selecione o tipo de consulta e fale sobre os sintomas
      </h2>
      <form [formGroup]="terceiro_form_group">
        <mat-form-field class="input-class">
          <mat-label>Tipo de consulta</mat-label>
          <mat-select formControlName="tipoConsulta" >
            <mat-option *ngFor="let tipoConsulta of tipoConsultaOptions" [value]="tipoConsulta.value">
              {{ tipoConsulta.label }}
            </mat-option>
          </mat-select>
        </mat-form-field><br>
        <mat-form-field class="input-class">
          <mat-chip-list #chipList>
            <mat-chip color="primary" *ngFor="let sintoma of sintomas_selected" [selectable]="selectable" [removable]="removable" (removed)="remove_sintomas(sintoma)" selected>
              {{sintoma.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Adicionar sintoma"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add_sintoma($event)">
          </mat-chip-list>
        </mat-form-field>
        <mat-card class='dica-class' color='accent'>
          Dica: Escreva os sintomas separando-os com um <b>enter</b> ou com uma vírgula.
        </mat-card>
      </form>
      <button mat-raised-button isRoundButton color="accent"  class="left-button"  matStepperPrevious>Voltar</button>
      <button mat-raised-button isRoundButton color="primary" class="right-button" matStepperNext>Próximo</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="quarto_form_group" [editable]="true">
    <ng-template matStepLabel>Anamnese</ng-template>
    <div class='stepper-div'>
      <form [formGroup]="quarto_form_group">
        <h4>
          Insira os medicamentos que utiliza, caso utilize algum
        </h4>

        <mat-form-field class="input-class">
          <mat-chip-list #chipList>
            <mat-chip color="primary" *ngFor="let medicamento of medicamentos_selected" [selectable]="selectable" [removable]="removable" (removed)="remove_medicamentos(medicamento)" selected>
              {{medicamento.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Adicionar medicamento"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add_medicamento($event)">
          </mat-chip-list>
        </mat-form-field>
        <mat-card class='dica-class' color='accent'>
          Dica: Escreva os medicamentos que toma separando-os com um <b>enter</b> ou com uma vírgula.
        </mat-card>

        <!-- <mat-form-field class="input-class-no-margin">
          <textarea matInput placeholder="Medicamentos que utiliza" formControlName="medicamentosQueToma"></textarea>
        </mat-form-field><br> -->
        <h4>
          Insira as doenças que possui, caso positivo
        </h4>

        <mat-form-field class="input-class">
          <mat-chip-list #chipList>
            <mat-chip color="primary" *ngFor="let doenca of doencas_selected" [selectable]="selectable" [removable]="removable" (removed)="remove_doencas(doenca)" selected>
              {{doenca.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Adicionar doença"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add_doenca($event)">
          </mat-chip-list>
        </mat-form-field>
        <mat-card class='dica-class' color='accent'>
          Dica: Escreva doenças que possui, caso tenha alguma separando-as com um <b>enter</b> ou com uma vírgula.
        </mat-card>

        <!-- <mat-form-field class="input-class-no-margin">
          <textarea matInput placeholder="Doenças ou enfermidades recentes" formControlName="doencasRecentes"></textarea>
        </mat-form-field><br> -->
        <h4>
          Case julgue necessário alguma informação a mais, este é o espaço!
        </h4>
        <mat-form-field class="input-class-no-margin">
          <textarea matInput placeholder="Informações adicionais que julgar importantes" formControlName="informacoesAdicionais"></textarea>
        </mat-form-field>
      </form>
      <button mat-raised-button isRoundButton color="accent"  class="left-button"  matStepperPrevious>Voltar</button>
      <button mat-raised-button isRoundButton color="primary" class="right-button" matStepperNext>Próximo</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="firstFormGroup" [editable]="true">
    <ng-template matStepLabel>Confirmação</ng-template>
    <div class='stepper-div'>
      <h2>
        Confirme se os dados estão corretos
      </h2>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>
              Horário
            </h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <h3>
          Consulta agendada para dia <b>{{ data | date : 'dd/MM/yyyy' }}</b> às <b>{{ horario }}</b> horas.
        </h3>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <h2>
            Médico e clínica
          </h2>
        </mat-expansion-panel-header>
        <h3>
          Médico: <b>{{ medico }}</b> na clínica <b>{{ clinica }}</b>.
        </h3>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <h2>
            Motivação
          </h2>
        </mat-expansion-panel-header>
        <h3>
          Tipo de consulta: <b>{{ tipoConsulta }}</b>.
        </h3>
        <h3 *ngIf="sintomasObservados != ''">
          Sintomas observados: <b>{{ sintomasObservados }}</b>.
        </h3>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel expanded *ngIf = "medicamentosQueToma != '' || doencasRecentes != '' || informacoesAdicionais != ''" >
        <mat-expansion-panel-header>
          <h2>
            Anamnese
          </h2>
        </mat-expansion-panel-header>
        <h3 *ngIf="medicamentosQueToma != ''">
          Medicamentos que toma: <b>{{ medicamentosQueToma }}</b>.
        </h3>
        <h3 *ngIf="doencasRecentes != ''">
          Doenças recentes: <b>{{ doencasRecentes }}</b>.
        </h3>
        <h3 *ngIf="informacoesAdicionais != ''">
          Informações adicionais: <b>{{ informacoesAdicionais }}</b>.
        </h3>
      </mat-expansion-panel>
      <button mat-raised-button class='ok-button' (click)="salvar()">Confirmar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>