.consulta-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.consulta-cadastro-container {
    padding: 5%;
}

.dataConsulta-full-width {
    width: 100%;    
}

.horaConsulta-full-width {
    width: 100%;    
}

.tipoConsulta-full-width {
    width: 100%;    
}

.sintomas-full-width {
    width: 100%;    
}

.medicamentos-full-width{
    width: 100%;    
}

.doencas-full-width {
    width: 100%;    
}

.info-full-width {
    width: 100%;    
}

.left-button {
    float:left;
}

.right-button{
    float:right;
}