<ng-template #loading>
    <div class="spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<mat-horizontal-stepper linear #stepper *ngIf="consulta != null; else loading">
    <mat-step [editable]="true">
        <app-detalhes-agendamento [consulta]="consulta"></app-detalhes-agendamento>
        <button mat-raised-button isRoundButton color="primary" class="right-button" matStepperNext>Próximo</button>
    </mat-step>
    <mat-step [editable]="true">
        <app-diagnostico-consulta [form_group]="primeiro_form_group" [consulta]="consulta"></app-diagnostico-consulta>
        <button mat-raised-button isRoundButton color="accent"  class="left-button" matStepperPrevious>Voltar</button>
        <button mat-raised-button isRoundButton color="primary" class="right-button" matStepperNext>Próximo</button>
    </mat-step>
</mat-horizontal-stepper>