.content-div {
    padding: 4%;
}

.content-card  {
    background-color: rgba(20, 34, 80, 0.082);
    border-radius: 10px;
}

.detail {
    margin-top: 20px;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
