<ng-template #loading>
    <div class="spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
</ng-template> 

<div class='content-div' *ngIf="obj != null; else loading">

    <button mat-mini-fab color="primary" (click)="navigate_back()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <button mat-mini-fab color="primary" style="margin-left: 15px;" (click)="editar()">
        <mat-icon>edit</mat-icon>
    </button> <br /> <br />

    <mat-card class="content-card">

        <mat-card-title>Detalhes da usuário {{ obj.nome }}</mat-card-title> <br>

        <mat-card-content>

            <h3><i>Nome: </i></h3> {{ obj.nome }} <br><br>

            <h3><i>E-mail: </i></h3> {{ obj.email }} <br><br>

            <h3><i>Telefone: </i></h3> {{ obj.telefone }} <br><br>

            <h3><i>É paciente: </i></h3> {{ obj.isPaciente? 'Sim' : 'Não' }} <br><br>

            <h3><i>É administrador: </i></h3> {{ obj.roles.includes('admin')? 'Sim' : 'Não' }} <br><br>

        </mat-card-content>

    </mat-card>

</div>