<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile>
            <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title>
                Consultas de {{ title }}
                </mat-card-title>
            </mat-card-header>
            
            <div *ngFor = "let consulta of consultas">
                <mat-card class="consulta-card" *ngIf="consulta.realizacao == null || !consulta.realizacao">
                Consulta de {{consulta.paciente.nome}} às {{consulta.dataAgendada | date: "hh:mm"}}
                <button [disabled]="consulta.realizacao != null" mat-icon-button matTooltip="Iniciar consulta" (click)="iniciar(consulta._id)" color="primary">
                    <mat-icon>forward</mat-icon>
                </button>
                </mat-card>
            </div>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title>
                Consultas de amanhã
                </mat-card-title>
            </mat-card-header>
            
            <div *ngFor = "let consulta of consultas">
                <mat-card class="consulta-card" *ngIf="consulta.realizacao == null || !consulta.realizacao">
                Consulta de {{consulta.paciente.nome}} às {{consulta.dataAgendada | date: "hh:mm"}}
                <button [disabled]="consulta.realizacao != null" mat-icon-button matTooltip="Iniciar consulta" (click)="iniciar(consulta._id)" color="primary">
                    <mat-icon>forward</mat-icon>
                </button>
                </mat-card>
            </div>
            </mat-card>
        </mat-grid-tile>
  <mat-grid-tile  [colspan]="2"  [rowspan] = "2">
    
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Consultas por sintoma
        </mat-card-title>
      </mat-card-header>
      <div id="chartContainer" style="height: 80%; width: 90%;"></div>
    </mat-card>
  </mat-grid-tile>
  </mat-grid-list>
</div>
<!-- <div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
     *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> 
</div>-->
<!-- <div id="chartContainer" style="height: 370px; width: 80%;"></div> -->
<!-- <div id="chartContainerB" style="height: 370px; width: 70%; margin-left:auto;margin-right:auto;"></div> -->