.main-container {
    padding: 2%;
}

.main-container h4 {
    font-weight: 100;
}

.input-class {
    margin: 0.5% 0%;
    width: 80%;
    border-radius: 10px;
}

.dica-class {
    background-color: rgb(79, 202, 79);
    margin-bottom: 1%;
    width: 50%;
    font-style: italic;
}