<div class='main-container'>

    <!-- <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>
                    
                </h2>
            </mat-panel-title>
        </mat-expansion-panel-header>

    </mat-expansion-panel>

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>
                    
                </h2>
            </mat-panel-title>
        </mat-expansion-panel-header>

    </mat-expansion-panel>

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>
                    
                </h2>
            </mat-panel-title>
        </mat-expansion-panel-header>

    </mat-expansion-panel> -->

    <code>{{ nome_paciente | async | json }}</code> <br>
    <code>{{ data_consulta | async | date : "dd/MM/yyyy" }}</code> <br>
    <code>{{ medicamentos  | async | json }}</code> <br>
    <code>{{ medico        | async | json }}</code> <br>
    <code>{{ diagnostico   | async | json }}</code> <br>

</div>