<div class='main-container'>

    <!-- <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>
                    
                </h2>
            </mat-panel-title>
        </mat-expansion-panel-header>

    </mat-expansion-panel>

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>
                    
                </h2>
            </mat-panel-title>
        </mat-expansion-panel-header>

    </mat-expansion-panel>

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>
                    
                </h2>
            </mat-panel-title>
        </mat-expansion-panel-header>

    </mat-expansion-panel> -->

    {{ agendamento | async | json }}

</div>