
.content {
    display: flex;
}

.user-data {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
}

.user-avatar {
    border-radius: 100%;
}


.user-avatar-wrap {
    display: flex;
    img {
        width: 80px;
        height: 80px;
    }

    margin: 0 10px;
}


.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: auto;
    align-items: center;
    margin: auto;

    b {
        margin-bottom: 5px;
    }
}

.user-info-xs {
    text-align: center;
    margin: 0;
}

.user-wrap-xs {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-mobile {
    justify-content: center;
    margin-bottom: 10px;
}

mat-dialog-actions {
    margin-top: 2px;
}