<div class='main-container' >

    <form [formGroup] = "cadastro_form" >

        <mat-form-field class="in-field">

            <input matInput placeholder="Nome do medicamento" formControlName="nome"/>
            
            <mat-hint align="end">

                No mínimo 5 caracteres.

            </mat-hint>

            <mat-error *ngIf="nome.invalid && nome.touched"> 

                Nome inválido

            </mat-error>

        </mat-form-field> <br/>

        <mat-form-field class="in-field">

            <textarea matInput placeholder="Descrição do medicamento" formControlName="descricao" rows="3"></textarea>

            <mat-hint align="end">

                No mínimo 20 caracteres.

            </mat-hint>

            <mat-error *ngIf="descricao.invalid && descricao.touched">

                Descrição inválida

            </mat-error>

        </mat-form-field> <br/>

        <mat-form-field class="in-field">

            <mat-select placeholder="Doenças para as quais é receitado" multiple formControlName="indicadoPara">
            
                <mat-option *ngFor="let doencas of doencas_select" [value]="doencas.value" > 
                
                    {{ doencas.viewValue }} 
                
                </mat-option>

            </mat-select>   

        </mat-form-field>

        <br/><br/>

        <button mat-raised-button 
                isRoundButton 
                color="warn" 
                (click)="limpar()" 
                class="left-button">Limpar</button>

        <button mat-raised-button 
                isRoundButton 
                color="primary" 
                (click)="cadastrar()" 
                class="right-button" 
                [disabled]="!cadastro_form.valid">Cadastrar</button>

    </form>

</div>