table {
    width: 100%;
}

.main-container {
    padding: 5%;
}


.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.legenda {
    font-weight: 100;
    width: 30%;
    padding: 1%;
    th {
        font-weight: 500;
        text-align: left;
    }
}