<div class="cadastro-container">
  <form [formGroup]="cadastroForm">
    <mat-form-field class="in-field">
      <input matInput placeholder="nome da clínica..." formControlName="nome" />
      <mat-hint align="end">No mínimo 4 caracteres</mat-hint>
      <mat-error *ngIf="nome.invalid && nome.touched">
        Nome inválido
      </mat-error>
    </mat-form-field>

    <br />

    <mat-form-field class="in-field">
      <input
        matInput
        placeholder="endereço da clínica..."
        formControlName="endereco"
      />
      <mat-hint align="end">No mínimo 10 caracteres</mat-hint>
      <mat-error *ngIf="endereco.invalid && endereco.touched">
        Endereço inválido
      </mat-error>
    </mat-form-field>

    <br />
    <br />

    <button
      mat-raised-button
      isRoundButton
      color="warn"
      (click)="limpar()"
      class="left-button"
    >
      Limpar
    </button>

    <button
      mat-raised-button
      isRoundButton
      color="primary"
      (click)="cadastrar()"
      class="right-button"
      [disabled]="!cadastroForm.valid"
    >
      Cadastrar
    </button>
  </form>
</div>
