<mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
        #drawer 
        class="sidenav" 
        fixedInViewport    
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" 
        [opened]="(isHandset$ | async) === false"

        [style.margin-top]="(isHandset$ | async)? 'initial' : '64px'"
        
        (openedChange)="menuOpenedChange($event)"
        (openedStart)="menuOpenedStart($event)"
    >

        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" style="cursor: pointer">
                
                <a mat-list-item [routerLink]="[node.route]" (click)="click(node)" >
                    <div class="node-name" matTreeNodePadding matTreeNodePaddingIndent="20" >{{node.name}}</div>
                </a>
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodeToggle style="cursor: pointer">
                <a mat-list-item  class="menu-list-item-has-child" (click)="click(node)" >
                    <div class="menu-item-container" matTreeNodePadding matTreeNodePaddingIndent="20">
                        <mat-icon class="mat-icon-rtl-mirror"  >
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                        <div class="node-name">{{node.name}}</div>
                    </div>
                </a> 
            </mat-tree-node>
            </mat-tree>
            
            <!-- <a mat-list-item href="#">Home</a>
            <a mat-list-item href="#">Feast</a>
            <a mat-list-item href="#">Supper</a>
            <a mat-list-item href="#">Pedilândia</a> -->
        </mat-nav-list>
    </mat-sidenav>
    

    <mat-sidenav-content #content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>PediDoctor</span>
            

            <span class="example-spacer"></span>
            
            <app-toolbar-user-avatar class="user-avatar"></app-toolbar-user-avatar>

        </mat-toolbar>
        
        <div class="router-outlet-wrapper" [style.margin-left]="(isHandset$ | async) || !menuOpened? 'initial' : '210px'">
            <router-outlet></router-outlet>
        </div>
            
    </mat-sidenav-content>
</mat-sidenav-container>