<div class='main-container'>

    <h2>
        Paciente: {{ ( paciente != null ) ? paciente.nome : '' }}
    </h2>
    <form [formGroup]="form">
        <h4>
            Escreva sobre a consulta, sobre as condições do paciente etc.

            <b>Aqui também será feita a prescrição de exames e vacinas.</b>
        </h4>


        <mat-form-field class="input-class">
            <textarea #descricao matInput placeholder="Descrição do diagnóstico" rows="15" formControlName="descricao"  [matAutocomplete]="auto"></textarea>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let option of options | async" [value]="option">
                    {{option.value}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>