.main-container {
    padding: 2%;
}

.main-container h2, .main-container h4 {
    font-weight: 100;
}

.main-container b {
    font-weight: 500;
}

.main-container h3 {
    font-weight: 100;
    font-style: italic;
}

.input-class {
    margin: 0.5% 0%;
    padding: 0.5% 2%;
    width: 80%;
    // background-color: rgb(204, 224, 241);
    background-color: #E1E2E1;
    border-radius: 10px;
}