<div class='content-div'>

    <button mat-mini-fab color="primary" (click)="navigate_back()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button> <br/> <br/>
    
    <mat-card class="content-card">
        
        <mat-card-title>Detalhes do tipo de diagnostico {{ obj.nome }}</mat-card-title> <br>

        <mat-card-content>
            
            <h3><i>Nome: </i></h3> {{ obj.nome }}         <br><br>

            <h3><i>Descrição: </i></h3> {{ obj.descricao }} <br><br>
            
        </mat-card-content>
        
    </mat-card>

</div>